$color: #d44949;
$arrowHeight: 8px;
$arrowWidth: $arrowHeight * 0.75;

.sp-inline-error {
  position: absolute;
  color: #ffffff;
  background-color: $color;
  padding: 0.5em;
  border-radius: 5px;
  z-index: 90;
  display: none;

  &.shown {
    display: block;
  }

  &.ltr:after {
    border-right: $arrowWidth solid $color;
    left: -$arrowWidth;
  }

  &.rtl:after {
    border-left: $arrowHeight solid $color;
    right: -$arrowHeight;
  }

  &:after {
    content: '';
    position: absolute;
    top: $arrowHeight;
    border-top: ($arrowHeight / 2) solid transparent;
    border-bottom: ($arrowHeight / 2) solid transparent;
  }
}

input.sp-inline-error-invalid {
  border: 1px solid $color !important;
  border-left-width: 5px !important;
}