<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../dist/sp-inline-error.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!--<script src="../dist/sp-inline-error.js"></script>-->
    <script src="../lib/sp-inline-error.js"></script>

    <script>
        angular.module('Test', ['spInlineError']);
    </script>
</head>
<body ng-app="Test" style="text-align: center;">
    <form name="testForm">
        <input style="padding: 20px; border: 1px solid #000000;" sp-inline-error type="text" ng-model="test" required minlength="5"/>
    </form>
    <span sp-inline-error="{{test ? '' : 'div error message'}}">
        this is my element! :)
    </span>
</body>
</html>
